.topBar {
    height: 32px;
    width: 100%;
    background-color: #F7F7F7;
    line-height: 32px;
}

.topBar .collection {
    background: url("../images/icons/collection.png") left center no-repeat;
    padding-left: 19px;
    font-weight: bold;
}

.topBar a:hover {
    color: red;
}

.middleBar {
    height: 85px;
    width: 100%;
    background-color: #1D7AD9;
}

.middleBar .logo {
    padding-left: 41px;
    padding-top: 13px;
    float: left;
}

.middleBar .searchBox {
    width: 430px;
    float: left;
    padding-top: 24px;
    padding-left: 186px;
}

.middleBar .searchText {
    width: 350px;
    height: 36px;
    float: left;
    padding: 0 5px;
}

.middleBar .searchBtn {
    width: 70px;
    height: 36px;
    font-size: 14px;
    background-color: #FF8C00;
    color: white;
    float: right;
}

.middleBar .shoppingCart {
    width: 146px;
    height: 36px;
    background-color: #FF8C00;
    margin-top: 24px;
    float: right;
    margin-right: 60px;
}

.middleBar .shopText {
    font-size: 14px;
    color: white;
    height: 100%;
    width: 87px;
    border-right: #E27A00 solid 1px;
    float: left;
    line-height: 36px;
    background: url("../images/icons/shopIcon.png") 10px center no-repeat;
    text-indent: 40px;
}

.middleBar .shopNum {
    width: 26px;
    height: 100%;
    line-height: 36px;
    color: white;
    border-left: #FF9C01 solid 1px;
    float: left;
    background: url("../images/icons/sj.png") 34px center no-repeat;
    text-align: right;
    padding-right: 30px;
}

.navBar {
    height: 36px;
    width: 100%;
    background-color: #1369C0;
    color: white;
}

.navBar .shopClass {
    width: 190px;
    float: left;
    position: relative;
}

.navBar .shopClass h3 {
    background: url("../images/icons/down.png") 160px center no-repeat;
    line-height: 36px;
    text-align: center;
}

.navBar .shopClass .shopClass-show {
    background-color: #4593FD;
    position: absolute;
    left: 0px;
    top: 36px;
    width: 100%;
}

.navBar .shopClass .shopClass-item {
    padding: 14px 10px;
    border-bottom: #3487F2 solid 1px;
    border-top: #5AA1FE solid 1px;
}

.navBar .shopClass .shopClass-item dt {
    height: 22px;
    background: url("../images/icons/shop_sj.png") right center no-repeat;
}

.navBar .shopClass .shopClass-item .aLink {
    width: 48px;
    height: 20px;
    background: url("../images/icons/aLink.png") left center no-repeat;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    text-decoration: underline;
}

.navBar .shopClass .shopClass-item a {
    color: #FFFFFF;
}

.navBar .shopClass .shopClass-item a:hover {
    text-decoration: underline;
}

.navBar .shopClass .shopClass-item .b {
    font-weight: bold;
    font-size: 14px;
}

.navBar .shopClass .shopClass-item-active {
    background-color: #FFFFFF;
    border-left: #4593FD solid 1px;
}

.navBar .shopClass .shopClass-item-active a {
    color: #000000;
}

.navBar .shopClass .shopClass-item-active .aLink {
    color: white;
    text-decoration: none;
}

.navBar .shopClass .shopClass-item-active dt {
    background: none;
}

.navBar .shopClass .shopClass-list {
    width: 568px;
    border: #CCC solid 1px;
    position: absolute;
    top: 36px;
    left: 190px;
}

.navBar .shopClass .shopClass-list .listCenter {
    padding: 0 20px;
}

.navBar .shopClass .shopClass-list .shopClass-list-item {
    padding: 10px 0px;
    border-bottom: #CCC solid 1px;
}

.navBar .shopClass .shopClass-list .shopClass-links {
    padding: 15px 0px;
}

.navBar .shopClass .shopClass-list .shopClass-links a {
    color: #FFFFFF;
    background-color: #2785E6;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    display: inline-block;
    padding: 0 14px 0 8px;
    margin-right: 10px;
}

.navBar .shopClass .shopClass-list .shopClass-links span {
    background: url("../images/icons/shop_sj.png") right center no-repeat;
    width: 12px;
    height: 8px;
    display: inline-block;
    margin-left: 8px;
}

.navBar .shopClass .shopClass-list .shopClass-list-item dt {
    color: #4B87D9;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
}

.navBar .shopClass .shopClass-list .shopClass-list-item dd {
    padding-left: 68px;
    margin-top: -24px;
    line-height: 24px;
}

.navBar .shopClass .shopClass-list .shopClass-list-item a {
    margin-right: 12px;
}

.navBar .nav {
    float: left;
    line-height: 36px;
}

.navBar .nav li {
    float: left;
}

.navBar .nav a {
    padding: 0 36px;
    height: 36px;
    display: inline-block;
    color: white;
}

.navBar .nav .active {
    background-color: #4593FD;
}

.banner .bannerBar {
    width: 810px;
    height: 326px;
    float: right;
}

.banner .bannerBar {
    width: 810px;
    height: 326px;
    float: right;
    position: relative;
    overflow: hidden;
}

.banner .bannerBar .imgBox {
    width: 1620px;
    height: 326px;
    position: absolute;
    left: 0;
    top: 0;
}

.banner .bannerBar li {
    float: left;
}

.banner .bannerBar img {
    width: 810px;
    height: 326px;
    display: block;
}

.banner .bannerBar .imgNum {
    position: absolute;
    left: 0;
    bottom: 16px;
    width: 100%;
    text-align: center;
}

.banner .bannerBar .imgNum a {
    width: 20px;
    height: 5px;
    display: inline-block;
    overflow: hidden;
    background-color: #FFF;
    margin: 0px 3px;
}

.banner .bannerBar .imgNum .active {
    background-color: #FF7700;
}